@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    width: 1480px;
    height: 1282px;
    font-family: "Roboto", sans-serif;
    position: relative;
}
a {
    text-decoration: none;
    color: white;   
}
.logo-header {
    font-size: 80px;
    padding: 61px 1048px 38px 98px;
    line-height: 94px;
    display: flex;
    color: #000000;
}
span {
    color: #3181A6;;
}
.header-menu { 
    width: 1283px;
    height: 72px;
    display: flex;
    margin-left: 98px;
    margin-right: 99px;
    margin-bottom: 50px;
    background: #35444F;  
}
.menu-item-1 {
    padding: 26px 33px 19px 32px;
    width: 266px;
    height: 27px;
}
.menu-item-2 { 
    padding: 26px 38px 19px;
    width: 77px;
    height: 27px;
}
.menu-item-3 {
    padding: 26px 40px 19px;
    width: 204px;
    height: 27px;
}
.menu-item-4 {
    padding: 26px 151px 19px 40px;
    width: 163px;
    height: 27px;
}
.header-menu li {
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 1283px;
    height: 72px; 
    font-size: 24px;
    border-left: 1px solid #FFFFFF;
}
.header-menu li:hover {
    background: #222F3A;
}
.content-container {
    margin-left: 100px;
    margin-right: 99px;
    width: 1283px;
    display: flex;
    justify-content: space-between;
}
.content-menu {
    width: 344px;
    height: 399px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.content-menu li:hover {
    background: #DBDBDB;
    color: #35444F;
    display: flex;
    justify-content: center;
}
.content-menu-1 {
    color: #485863;
    padding: 26px 194px 25px 44px;
}
.content-menu-2 {
    padding: 27px 78px 27px 38px;   
}
.content-menu-3 {
    padding: 25px 82px 52px 42px;
}
.content-menu-4 {
    padding: 0px 121px 52px 44px;
}
.content-menu-5 {
    padding: 0px 147px 30px 44px;
}
.content {
    width: 885px;
}
.photo-background {
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-image {
    transition: 1s;   
}
.center-image:hover {
    transform: scale(1.2);
}
.text {
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text p:first-child {
    padding-top: 37px;
    padding-bottom: 34px;
}
.footer {
    width: 1280px;
    height: 69px;
    display: flex;
    position: absolute;
    align-items: center;
    left: 100px;
    bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 928px;
    height: 69px;
    padding-left: 40px;
    padding-right: 82px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-menu li:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.copyright {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    width: 190px;
    height: 69px;
    color: #010101;
}