@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    position: absolute;
}
a {
    text-decoration: none;
    color: #FF0000;
}
.header {
    height: 78px;
    text-transform: uppercase;
    letter-spacing: 2.7px;   
    font-size: 18px;
    font-weight: bold;
}
.header-menu {
    height: 27px;
    display: flex;
    justify-content: center;
    padding: 25.5px 330px;
}
.header-menu li {
    padding-top: 6px;
    padding-bottom: 6px;
    top: -6px;
    margin-left: 72px;
}
.header-menu li:first-child {
    margin-left: 0px;
}
.header-menu li:last-child {
    margin-left: 50px;
}
.background {
    width: 1280px;
    height: 789px;
    background: url(../img/selfie.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    top: 78px;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    padding-left: 253px;
    padding-right: 253px;
    padding-top: 49px;
    padding-bottom: 38px;
    letter-spacing: 3.3px;
}
.content {
    text-align: center;
    color: #373737;
}
.content p {
    letter-spacing: 2.4px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    line-height: 26px;
}
.content p:last-child {
    padding-top: 28px;
    padding-bottom: 66px;
}
.button-get-started {
  
    text-align: center;
    padding-left: 544.5px;
    padding-right: 544.5px;
    padding-bottom: 42px;

}
.button-get-started button {
    width: 191px;
    height: 51px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #FF0000;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    padding: 18px 43.5px 17px 42.5px;
    border-radius: 4px;    
}
.footer {
    height: 39px;
    text-align: right;
    font-weight: bold;
    color: #373737;
    letter-spacing: 2.4px;
    padding: 40px 105px 29px 713px;
    display: flex;
    align-items: center;
}
